{% extends 'base_layout.html' %}
{% load static %}
{% block headblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//geodata.solutions/includes/statecity.js"></script>

{% endblock headblock %}

{% block content %}
    <br><br>
    <form action="{% url 'chat:create' %}" method="post">
    {% csrf_token %}
                <label for="loc">Location</label>

    <input type="text" id="loc" name="location">
                <label for="vehic">Vehicle name</label>
    <input type="text" name="vehicle" id="vehic">
                <label for="brand">Brand name</label>
    <input type="text" name="brand" id="brand">
        <label for="limit">Maximum limit of the room</label>
    <input type="number" name="limit" id="limit">
    <input type="submit">
    </form>
<input type="hidden" name="country" id="countryId" value="IN"/>
      <h3>State</h3>
      <select name="state" class="states " id="stateId">
    <option value="">Select State</option>
</select>
      <h3>City</h3>
      <select name="city" class="cities " id="cityId">
    <option value="">Select City</option>
</select>

{% endblock content %}