{% extends 'base_layout.html' %}

{% block headblock %}

{% endblock headblock %}

{% block content %}
    {{ id }}
    <br><br>
    <form action="{% url 'chat:create' %}" method="post">
    {% csrf_token %}
                <label for="loc">Location</label>

    <input type="text" id="loc" name="location">
                <label for="vehic">Vehicle name</label>
    <input type="text" name="vehicle" id="vehic">
                <label for="brand">Brand name</label>
    <input type="text" name="brand" id="brand">
        <label for="limit">Maximum limit of the room</label>
    <input type="number" name="limit" id="limit">
    <input type="submit">
    </form>

{% endblock content %}