{% extends 'base_layout.html' %}

{% block headblock %}

{% endblock headblock %}


{% block content %}
    {% if room_user %}
     {% for room in rooms %}
            <a href="{% url 'chat:home' room.eid %}">{{ room.name }}</a>
            {% if room_user == room.id %}
                <a href="{% url 'chat:home' room.eid %}">  <h1>Go to room</h1> </a>
                <br>
            {% else %}
         <h4> You can't join</h4>
            <br>
         {% endif %}

        {% endfor %}
    {% else %}
         {% for room in rooms %}
            <a href="{% url 'chat:home' room.eid %}">{{ room.name }}</a>
            <a href="{% url 'chat:join' room.eid %}"> join</a>
            <br>
        {% endfor %}
    {% endif %}
    {% if request.user.is_staff or request.user.dealer.kyc_verified%}
        <a href="{% url 'chat:create' %}"> Create Room </a>
    {% endif %}
{% endblock content %}